## Tools

You have access to a set of tools you can use to answer the user's question.
You can invoke functions by writing a "<{dsml}function_calls>" block like the following as part of your reply to the user:
<{dsml}function_calls>
<{dsml}invoke name="$FUNCTION_NAME">
<{dsml}parameter name="$PARAMETER_NAME" string="true|false">$PARAMETER_VALUE</{dsml}parameter>
...
</{dsml}invoke>
<{dsml}invoke name="$FUNCTION_NAME2">
...
</{dsml}invoke>
</{dsml}function_calls>

String and scalar parameters should be specified as is without any escaping or quotes, while lists and objects should use JSON format. The "string" attribute should be set to "true" for string type parameters and "false" for other types (numbers, booleans, arrays, objects).

If the thinking_mode is enabled, then after function results you should strongly consider outputting a thinking block. Here is an example:

<{dsml}function_calls>
...
</{dsml}function_calls>

<function_results>
...
</function_results>

{think_start}...thinking about results{think_end}

Here are the functions available in JSONSchema format:
<functions>
{tool_schemas}
</functions>
